@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

@keyframes rotate {
    0%{
        transform: rotate('0deg');
    }
    100%{
        transform: rotate('360deg');
    }
}

#contactUs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background: #20123c;
    z-index: 0 !important;
    position: relative;
}

#contactUs::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom right, #19142d, #463b5b);
    border-radius: 50%;
    left: 15%;
    top: 15%;
    z-index: 0 !important;
    animation: rotate 3s linear infinite;
}

#contactUs::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(to top left, #1a132b, #5f5278);
    border-radius: 50%;
    transform: translate(400px, 180px);
    /* animation: rotate 3s linear infinite; */
}

.contactUsContainer {
    position: relative;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .25);
    border-right: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    backdrop-filter: blur(25px);
}

.contactUsContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.contactUsContainer h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.contactUsContainer .row100 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
}

.contactUsContainer .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.contactUsContainer .row100 .col .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.contactUsContainer .row100 .col .inputBox input,
.contactUsContainer .row100 .col .inputBox textarea {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    background: transparent;
    color: #000;
    box-shadow: none;
    border: none;
    outline: none;
    resize: none;
}

.contactUsContainer .row100 .col .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 40px;
    transition: .5s;
    pointer-events: none;
}

.contactUsContainer .row100 .col .inputBox input:focus+.text,
.contactUsContainer .row100 .col .inputBox input:valid+.text,
.contactUsContainer .row100 .col .inputBox textarea:focus+.text,
.contactUsContainer .row100 .col .inputBox textarea:valid+.text {
    top: -35px;
    left: 0;
}

.contactUsContainer .row100 .col .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: .5s;
    border-radius: 2px;
    pointer-events: none;
}

.contactUsContainer .row100 .col .inputBox input:focus~.line,
.contactUsContainer .row100 .col .inputBox input:valid~.line {
    height: 100%;
}

.contactUsContainer .row100 .col .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.contactUsContainer .row100 .col .inputBox textarea:focus~.line,
.contactUsContainer .row100 .col .inputBox textarea:valid~.line {
    height: 100%;
}

.contactUsContainer .row100 .col input[type="submit"] {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    #contactUs::before {
        transform: translate(-200px, -180px);
    }

    #contactUs::after {
        transform: translate(220px, 180px);
    }

    .contactUsContainer {
        padding: 20px;
    }

    .contactUsContainer h2 {
        font-size: 28px;
    }
}