@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: blue;
}

.myNav li a {
    font-family: "Poppins", sans-serif;
}

#downloadBanner {
    height: 90vh;
    padding: 0;
    margin: 0;
}

#downloadBanner h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#downloadBanner p {
    font-size: 2vw !important;
}

#FAQ {
    margin-top: 3vw;
    background-color: whitesmoke;
}

#downloadSection {
    background-image: url("../images/f40.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

#downloadSection h1 {
    width: 40vw;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

#downloadSection p {
    width: 42.5vw;
    font-weight: 500;
}

#myVideo {
    filter: brightness(40%);
    position: absolute;
    z-index: -999;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}