@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
.magic-text{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, #c80303, #b62222, #fe4848, #c80303);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.banner {
    background-image: url("../images/homeBanner.jpg");
    background-size: cover;
    width: 100%;
    height: 93.35vh;
}

.banner h1 {
    color: white;
    width: 40%;
    font-family: 'Poller One', cursive;
    font-weight: 900;
}

.banner p {
    color: silver;
    width: 45%;
}

#aboutUs {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: whitesmoke;
    z-index: 9999 !important;
}

#contactUs {
    width: 100%;
    height: 150vh;
    background-color: lightskyblue;
    z-index: 0 !important;
}

.contacts i {
    color: lightskyblue;
}

.form {
    background-color: navy;
}

.socials i {
    padding: 5px 10px;
    color: white;
}

.socials i:hover {
    background-color: lightskyblue;
    border-radius: 50%;
}

.footer {
    z-index: 999 !important;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.aboutUsHeading {
    font-family: "candara";
}

@media screen and (max-width: 820px) {
    .banner h1 {
        width: 80%;
    }

    .banner p {
        width: 70%;
    }
}

#buttonEpic{
    width: 20vh;
    height: 6vh;
}