:root{
    --primary-color: #2b2a2a;
    --accent-color: #c80303;
    --tertiary-color: #d4d4d4;
    --white-color: #f5f5f5;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--white-color);
}
  nav{
    width: 100%;
    background-color:var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a{
    padding: 1vw 0.75vw;
  }
  .logo{
    width: 13vw;
    height: auto;
    margin-left: 1vw;
  }
  .navItems{
    font-size: 1vw;
  }
  .navItems:hover{
    color: var(--accent-color);
  }
  .bars{
    display: none;
  }
  .callToAction a{
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 1vw;
    padding: 0.6vw 0.8vw;
    font-size: 1vw;
    margin-right: 2vw;
  }

  @media screen and (max-width: 1366px) {
    .logo{
        width: 15vw;
    }
    .navItems{
        font-size: 1.5vw;
    }
    .callToAction a{
        font-size: 1.5vw;
    }
  } 
  @media screen and (max-width: 768px) {
    .logo{
        width: 22vw;
    }
    .navItems{
        font-size: 2vw;
    }
    .callToAction a{
        font-size: 2vw;
    }
  } 
  @media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    nav a{
        padding-top:2vw ;
    }
    .bars{
        display: inline;
        margin-right: 2vw;
        font-size: 3.5vw;
    }
    .logo{
        padding-bottom: 4vw;
    }
    .logo img{
        width: 30vw;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -15vw;
        padding-top: 2vw;
    }
    .navLinksResponsive{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .navLinks{
        display: none;
    }
    .navItems{
        font-size: 3vw;
    }
    .callToAction{
        position: absolute;
        top: 0;
        right: 0;
        margin: 2vw 1vw;
    }
    .callToAction a{
        padding: 1vw 1.5vw;
        font-size: 3vw;
    }
  } 
